/* // SASS variable for media query breakpoint */

$breakpoint-desktop: 992px;
/* // Resetting default styles */

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/* // Fix for jumping arrows */

.carousel-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 210px;
}

.carousel {
    position: relative;
    height: 100%;
    display: flex;
    display: inline;
}

/* // Carousel slides */

.carousel-slide {
    margin-right: auto;
    margin-left: auto;
    /* display: none; */
    max-height: 800px;
    max-width: 500px;
    /* display: inline block; */
    text-align: center;
    /* display: inline; */
    padding: 5px;
    @media (max-width: 991px) {
        padding-right: 60px;
        padding-left: 60px;
    }
}

/* // Content of slides */

.carousel-slide-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

.carousel-slide__content {
    width: 100%;
    height: 100%;
    z-index: 1;
    @media (max-width: $breakpoint-desktop - 1px) {
        font-size: 18px;
    }
}

.carousel-slide__content:hover {
    background-color: #FFFFFF;
    font-size: 20px;
    opacity: .7;
    width: 100%;
    height: 100%;
    z-index: 100;
    @media (max-width: $breakpoint-desktop - 1px) {
        font-size: 18px;
    }
}

.carousel-slide__info {
    width: 100%;
    height: 100%;
    align-items: center;
    align-content: center;
    text-align: center;
    position:absolute;
    z-index: -5;
}

.carousel-slide__img {
    /* position: absolute; */
    width: 100%;
    height: 100%;
    /* position: fixed; */
    @media (max-width: $breakpoint-desktop - 1px) {
        font-size: 18px;
    }
}

.carousel-slide__img:hover {
    /* background-color: #FFFFFF; */
    /* opacity: .7; */
    width: 100%;
    height: 100%;
    z-index: -10;
}


/* MEDIA QUERIES */
h2.carousel-slide__caption {
    font-size: 70px;
    align-content: center;
}

/* SCREEN */
@media screen and (max-width:480px){
    h2.carousel-slide__caption {
        font-size: 20px;
        align-content: center;
    }
}

/* MOBILE */
@media (min-width:480px) and (max-width:768px){
    h2.carousel-slide__caption {
        font-size: 40px;
        align-content: center;
    }
}

/* COMPUTER */
@media (min-width:768px) and (max-width:1024px){
    h2.carousel-slide__caption {
        font-size: 70px;
        align-content: center;
    }
}
