.About {
    display: flex;
    /* position: absolute; */
    max-height: 100%;
    overflow: hidden;
}

.About-photo-wrapper {
    width: 50%;
    /* overflow: hidden; */
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.About-photo-img {
    width: 100%;
}

.About-text-wrapper {
    width: 50%;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 5px;
    max-height: 90vw;
    overflow: hidden;
}

.About-text-p {
    font-size: 14px;
}

/* SCREEN */
@media screen and (max-width:768px){
    .About {
        display: inline;
        align-items: center;
        align-content: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        -webkit-align-items: flex-start;
        -webkit-justify-content: center;
    }
    .About-photo-wrapper {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    .About-text-wrapper {
        padding: 2px;
        width: 100%;
        margin-left: 5px;
        margin-right: 5px;
    }
    .About-text-p {
        font-size: 10px;
    }
}

/* MOBILE */
/* @media (min-width:480px) and (max-width:768px){
    h1 {
        font-size: 100px;
        line-height: 80px;
        margin: 0;
        padding: 0;
    }
    h2 {
        font-size: 18px;
    }
    h3 {
        font-size: 13px;
    }
} */

 /* COMPUTER */
/* @media (min-width:768px) and (max-width:1024px){
    .About-photo-wrapper {
        width: 50%;
    }
    .About-photo-img {
        width: 100%;
    }
} */
