.App {
    padding: 5px;
    max-width: 100%;
}

.App-header {
    width: 100%;
    color: white;
    margin-top: 5px;
}

.App-title {
    text-align: center;
    width: 100%;
}

.App-title-name {
    padding: 0px;
    text-align: center;
}

.App-nav {
    font-size: 15px;
    text-align: center;
    display: flex;
}

.App-nav-link {
    width: 25%;
    padding: 5px;
}

.App-content {
    width: 100%;
    max-height: 80%;
    /* padding: 5px; */
}

.App-footer {
    /* position: absolute; */
    font-size: 10px;
    text-align: right;
    bottom: 5px;

}

a:hover {
    cursor: pointer
}

/* MEDIA QUERIES */
h1 {
    font-size: 100px;
    line-height: 80px;
    margin: 0;
    padding: 0;
}
h2 {
    font-size: 25px;
}
h3 {
    font-size: 18px;
}

/* SCREEN */
@media screen and (max-width:480px){
    h1 {
        font-size: 40px;
        line-height: 30px;
        margin: 0;
        padding: 0;
    }
    h2 {
        font-size: 8px;
    }
    h3 {
        font-size: 10px;
    }
}

/* MOBILE */
@media (min-width:480px) and (max-width:768px){
    h1 {
        font-size: 70px;
        line-height: 60px;
        margin: 0;
        padding: 0;
    }
    h2 {
        font-size: 18px;
    }
    h3 {
        font-size: 13px;
    }
}

@media (min-width:768px) and (max-width:1024px){
    h1 {
        font-size: 100px;
        line-height: 80px;
        margin: 0;
        padding: 0;
    }
    h2 {
        font-size: 25px;
    }
    h3 {
        font-size: 18px;
    }
}
